/* WATCH ONLINE BLOCK */

.watch-online {
    height: 780px;
    position: relative;
    bottom: 80px;
    background-image: url("../../assets/images/Giant_Panda.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    background-position-x: center;
    background-position-y: center;
}

.watch-online__content {
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.watch-online__text {
    width: 465px;
    color: #fff;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 75%;
    text-align: center;
    margin: 63px 98px;
    z-index: 2;
}

.watch-online__text>strong {
    color: #FFEE2E;
}

.watch-online__circle {
    content: '';
    width: 465px;
    height: 465px;
    border-radius: 50%;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    position: absolute;
    top: 90px;
}

.watch-online__button {
    position: relative;
    left: 184px;

}

@media (max-width: 1399px) {
    .watch-online {
        height: 584px;
    }

    .watch-online__content {
        width: 50%;
    }

    .watch-online__circle {
        width: 380px;
        height: 380px;
    }

    .watch-online__text {
        font-size: 86.496px;
        margin: 4rem 3rem;
    }

    .watch-online__button {
        left: 8rem;
    }
}

@media (max-width: 1299px) {
    .watch-online {
        height: 584px;
    }

    .watch-online__content {
        width: 50%;
    }

    .watch-online__circle {
        width: 380px;
        height: 380px;
    }

    .watch-online__text {
        font-size: 86.496px;
        margin: 4rem 3rem;
    }

    .watch-online__button {
        left: 8rem;
    }
}



@media (max-width: 1000px) {
    .watch-online {
        height: 584px;
    }

    .watch-online__content {
        width: 55%;
    }

    .watch-online__circle {
        content: '';
        width: 367px;
        height: 367px;
        top: 70px;
    }

    .watch-online__text {
        width: 328px;
        font-size: 85px;
        margin: 80px 100px 40px;
    }

    .watch-online__text>strong {
        color: #FFEE2E;
        margin: 0 -30px;

    }

    .watch-online__button {
        left: 115px;
    }
}

@media (max-width: 800px) {
    .watch-online__content {
        width: 60%;
    }

    .watch-online__text {
        width: 282px;
        font-size: 76px;
        margin: 68px 90px 40px;
    }

    .watch-online__circle {
        width: 331px;
        height: 331px;
        top: 86px;
    }
}

@media (max-width:700px) {
    .watch-online {
        height: 535px;
    }

    .watch-online__content {
        width: 65%;
    }
}

@media (max-width: 640px) {
    .watch-online {
        height: 373px;
        bottom: 0;
    }


    .watch-online__content {
        width: 100%;
        height: 100%;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
    }


    .watch-online__circle {
        width: 237.6px;
        height: 237.6px;
        top: 3rem;
        right: 4.5rem
    }

    .watch-online__text {
        width: 255px;
        display: flex;
        flex-direction: column;
        font-size: 54.29px;
        margin: 0 1rem 5.5rem 0;
        order: 1;
    }

    .watch-online__text>strong {
        margin: 0;
    }

    .watch-online__button {
        position: relative;
        bottom: 2.5rem;
        left: 1.4rem;
    }
}

@media (max-width: 320px) {
    .watch-online {
        height: 187px;
        top: 33px;
        position: relative;
        margin-bottom: 60px;
    }


    .watch-online__content {
        width: 48%;
        height: 100%;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
    }


    .watch-online__circle {
        width: 119.09px;
        height: 119.09px;
        top: 1.5rem;
        right: 2.5rem;
    }

    .watch-online__text {
        width: 128.13px;
        font-size: 28px;
        line-height: 21px;
        margin: 0 1rem 2.5rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }


    .watch-online__text>strong {
        margin: 0;
    }

    .watch-online__button {
        position: absolute;
        top: 13rem;
        left: -9.6rem;
    }
}


/* BACKSTAGE BLOCK */

.backstage {
    display: flex;
    width: 100%;
    position: relative;
}

.backstage__content {
    display: flex;
    width: 75%;
    padding: 4.7% 0 0 2.5%;
    margin: 0 auto;
}

.backstage__section-picture {
    position: absolute;
    right: 0;
    top: -60px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 13%;
    height: 660px;
    background: url(../../assets/images/flower_foto1.png) no-repeat;
}

.backstage__content__text {
    margin: 0 0 0 7%;
}

.backstage__content__picture {
    min-width: 53%;
    overflow: hidden;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backstage__content__text>h2 {
    font-weight: 400;
    font-size: 3rem;
    line-height: 120%;
    color: #333B41;
    margin: 0;
}

.backstage__content__text>h4 {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 120%;
    color: #333B41;
    margin: 3.3rem 0 2.5rem 0;
}

.backstage__content__text>p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 130%;
    color: #333B41;
    margin: 1.3rem 0 0;
}

@media (max-width: 1599px) {
    .backstage__content {
        display: flex;
        width: calc(100% - 7vw);
        padding: 20px 0 0 30px;
    }

    .backstage__content__picture {
        height: 100%;
    }

    .backstage__content__picture {
        min-width: 46%;
    }

    .backstage__section-picture {
        width: 10%;
    }

    .backstage__content__text {
        margin: 0px 7% 0 7%;
    }
}

@media (max-width: 1399px) {
    .backstage__section-picture {
        width: 7%;
    }

    .backstage__content__text {
        margin: 0px 4% 0 7%;
    }
}

@media (max-width: 1199px) {
    .backstage__section-picture {
        display: none;
    }

    .backstage__content__text {
        margin: 0px 0 0 7%;
    }
}


@media (max-width: 1000px) {
    .backstage__content {
        display: flex;
        width: 100%;
        padding: 20px 0 0 30px;
    }

    .backstage__content__picture {
        min-width: 47%;
        margin: 10px 0;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    .backstage__content__text {
        margin: 0px 31px 0 30px;
    }


    .backstage__content__text>p {
        margin: 20px 0 0;
        line-height: 140%;
    }

    .backstage__content__text>h4 {
        margin: 55px 0 30px 0;
    }

    .backstage__section-picture {
        display: none;
    }
}

@media(max-width:800px) {
    .backstage__content__text>h2 {
        font-size: 2.5rem;
    }

    .backstage__content__text>h4 {
        margin: 30px 0 30px 0;
    }
}

@media (max-width: 640px) {
    .backstage__content__picture {
        display: none;
    }

    .backstage__content {
        padding: 0;
    }

    .backstage__content__text {
        margin: 3.9rem 8rem 3.9rem 1.5rem;
    }

    .backstage__content__text>h4 {
        margin: 1.8rem 0 0 0;
    }

    .backstage__section-picture {
        display: flex;
        width: 20%;
        height: 476px;
        background-size: cover;
        top: 0;
    }
}

@media(max-width: 320px) {
    .backstage__content__text>h2 {
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        color: #333B41;
    }

    .backstage__content__text {
        margin: 4.9rem 0.7rem 2rem 0.7rem;
    }

    .backstage__content__text>p {
        margin: 9px 0 0;
        line-height: 140%;
    }

    .backstage__content__text>h4 {
        margin: 1rem 0 0 0;
    }

    .backstage__section-picture {
        display: flex;
        width: 10%;
        height: 217px;
        background-size: cover;
        top: 13px;
    }

}

/* PETS BLOCK */

.pets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10.3rem 0 6rem 0;
    position: relative;
}

.pets__gallery {
    width: 83%;
    margin: 0 auto;
    display: grid;
    row-gap: 1.1rem;
    column-gap: 1.7rem;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto auto auto auto auto;
}

.item.pets__gallery__nav.left {
    grid-row: 1 / 3;
    grid-column: 1;
    align-self: center;
}

.item.pets__gallery__nav.right {
    grid-row: 1 / 3;
    grid-column: 5;
    align-self: center;
}

.pets__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 1%;
}

#card-panda {
    grid-column: 2;
}

#card-eagle {
    grid-column: 3;
}

#card-gorilla {
    grid-column: 4;
}

#card-sloth {
    grid-column: 2;
}

#card-cheetah {
    grid-column: 3;
}

#card-pinguin {
    grid-column: 4;

}

.pet__card {
    border: 1px solid #f9804b;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
}

.pet__card__pic {
    background: #ffffff;
    overflow: hidden;
    display: flex;
}


.pet__card__pic img {
    transition: all .9s ease;
    max-width: 100%;
    height: auto;
}


.pet__card:hover img {
    transform: scale(1.1);
    opacity: 0.7;
}


.pet__card__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.pet__card:hover {
    background: rgba(0, 0, 0, .8);
    color: white;
}

.pet__card__title {
    margin: 12px;
}

.pet__card__title>h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    margin: 0;
    text-transform: uppercase;
}

.pet__card__title>p {
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    /* identical to box height, or 18px */
    margin: 0;

}

.pet__card__description>img {
    width: 40px;
    height: 40px;
    margin: 7px 7px;
    object-fit: contain;
}

.pets__button__arrow {
    width: 62px;
    height: 62px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border: none;
    border-radius: 50%;
}

.pets__button__arrow:hover {
    background: #E47209;
}

.pets__button__arrow:active {
    background: #4B9200;
}

.pets__button {
    margin-top: 4.5rem;
}

.pets__section__picture_left {
    display: none;

}

.pets__section__picture_right {
    display: none;

}

.pets__section__picture_left_big {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 22%;
    height: 458px;
    background: url(../../assets/images/palm_foto_1600.png) no-repeat;
}

.pets__section__picture_right_big {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 23%;
    height: 270px;
    background: url(../../assets/images/strelitzia_1600.png) no-repeat;

}

@media (max-width: 1399px) {


    .pets__section__picture_left {
        display: flex;
        width: 20%;
        position: absolute;
        bottom: 0;
        left: 0;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        height: 200px;
        background: url(../../assets/images/palm_foto_1000.png) no-repeat;
    }

    .pets__section__picture_left_big {
        display: none;
    }

    .pets__section__picture_right {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        right: 0;
        bottom: 0;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        width: 17%;
        height: 180px;
        background: url(../../assets/images/strelitzia_1000.png) no-repeat;
    }

    .pets__section__picture_right_big {
        display: none;
    }

}

@media (max-width: 1000px) {

    .pets {
        width: 100%;
        padding: 9rem 0 8.6rem;
    }

    .pets__gallery {
        width: 93%;
        display: grid;
        row-gap: 0.8rem;
        column-gap: 1.9rem;
        grid-template-rows: 4.5fr 0.5fr 4.5fr;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .pets__cards {
        margin: 0 3%;
    }

    .pet__card {}

    .item.pets__gallery__nav.left {
        grid-row: 2;
        grid-column: 2;
        display: flex;
    }

    #card-panda {
        grid-column: 1;
        grid-row: 1;
    }

    #card-eagle {
        grid-column: 2;
        grid-row: 1;
    }

    #card-gorilla {
        grid-column: 3;
        grid-row: 1;
    }

    #card-sloth {
        grid-column: 1;
        grid-row: 3;
    }

    #card-cheetah {
        grid-column: 2;
        grid-row: 3;
    }

    #card-pinguin {
        grid-column: 3;
        grid-row: 3;

    }

    .item.pets__gallery__nav.right {
        grid-row: 2;
        grid-column: 2;
        display: flex;
        flex-direction: row-reverse;
    }

    /* .pets__gallery__nav {
        display: flex;
        width: 50%;
        top: 42%;
        justify-content: flex-end;

    }

    .pets__gallery__nav.left {
        left: 0;
        padding-right: 5.3rem;
    }

    .pets__gallery__nav.right {
        right: 0;
        flex-direction: row-reverse;
        padding-left: 5.3rem;
    } */

    .pets__section__picture_left {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 12.5rem;
    }

    .pets__section__picture_right {
        width: 15rem;
    }

    .pets__button {
        margin-top: 84px;
    }
}

@media (max-width: 640px) {
    .pets {
        padding: 1rem 0 6.3rem;
    }

    .pets__gallery {
        width: 93%;
        display: grid;
        row-gap: 0.9rem;
        column-gap: 1.9rem;
        grid-template-rows: 4.5fr 0.5fr 4.5fr;
        grid-template-columns: 1fr 1fr;
    }

    .item.pets__gallery__nav.left {
        grid-row: 2;
        grid-column: 1;
        display: flex;
        justify-content: flex-end;
    }

    #card-panda {
        grid-column: 1;
        grid-row: 1;
    }

    #card-eagle {
        grid-column: 2;
        grid-row: 1;
    }

    #card-gorilla {
        grid-column: 1;
        grid-row: 3;
    }

    #card-sloth {
        grid-column: 2;
        grid-row: 3;
    }

    #card-cheetah {
        display: none;
    }

    #card-pinguin {
        display: none;
    }

    .item.pets__gallery__nav.right {
        grid-row: 2;
        grid-column: 2;
        display: flex;
        flex-direction: row;
    }

    .pet__card__title {
        margin: 0.5rem 0.7rem;
    }

    .pet__card__title>h3 {
        font-size: 12.4695px;
    }

    .pet__card__title>p {
        font-size: 11.6901px;
    }

    .pet__card__description>img {
        width: 37px;
        height: 29px;
        margin: 7px 7px;
        object-fit: contain;
    }

    .pets__button {
        margin-top: 63px;
    }

    .pets__section__picture_left {
        width: 11rem;
        height: 9rem;
        background-size: contain;
    }

    .pets__section__picture_right {
        width: 11rem;
        height: 7rem;
        background-size: contain;
    }

}

@media (max-width: 320px) {

    .pets {
        padding: 0.5rem 0 4rem;
    }

    .item.pets__gallery__nav.left {
        display: none;
    }

    .item.pets__gallery__nav.right {
        display: none;
    }

    .pets__gallery {
        width: 89%;
        display: flex;
        flex-direction: column;
        row-gap: 19px;
    }

    .pets__button {
        margin-top: 20px;
    }

    .pets__section__picture_right {
        width: 85px;
        height: 71px;
        bottom: -8px;
        background-size: contain;
        right: 0;
    }

    .pets__section__picture_left {
        left: 0;
        bottom: 0;
        height: 71px;
        width: 85px;
        background-size: contain;
    }
}

/*  PICK AND FEED A FRIEND BLOCK */

.pick-and-feed {
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
    padding: 4.4rem 0 6.3rem;
}


.pick-and-feed__container {
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    width: 72.5%;
    margin: 0 auto;
    padding: 2.6rem 3.5rem 3.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pick-and-feed__container>h2 {
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #FE9013;
    margin: 0;
}

.pick-and-feed__container>h4 {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
    margin: 2rem 2.7rem;
    align-self: flex-start;
}

.pick-and-feed__container>p {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
    margin: 0.4rem 0 0.3rem 2.4rem;
}

.pick-and-feed__container>p>a {
    color: #333B41;
    text-decoration-color: #FE9013;
}

.how-it-works__container {
    /* margin-right: 4rem; */
    width: 72%;
}

.how-it-works__container>h3 {
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #333B41;
    text-align: center;
    margin: 3.6rem 0 0 0;
}

.how-it-works__steps {
    display: flex;
    width: 100%;
    margin: 5% auto 6.5%;
    justify-content: center;
}

.how-it-works__step {
    display: flex;
    width: 168px;
    align-items: center;
    flex-direction: column;
}

.how-it-works__step>p {
    margin-top: 2rem;
    align-self: flex-start;
}

.how-it-works__step__pic {
    width: 168px;
    height: 168px;
    background: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #F9804B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.how-it-works__arrow {
    display: flex;
    width: 69px;
    justify-content: center;
    align-items: center;
    margin: 0 auto 6rem;
}

.how-it-works__arrow>.small_arrow {
    display: none;
}

.how-it-works__arrow>.big_arrow {
    display: block;
}

/* .pick-and-feed__button {
    margin-right: 3rem;
} */

.pick-and-feed__button>a {
    text-decoration: none;
    color: #fff;
}

@media(max-width: 1399px) {
    .pick-and-feed__container>h4 {
        margin: 2rem 0;
    }

    .pick-and-feed__container>p {
        margin: 0.4rem 0 0.3rem 0;
    }
}

@media (max-width: 1000px) {
    .pick-and-feed {
        padding: 2rem 0 3.3rem;
    }

    .pick-and-feed__container {
        width: 94.5%;
        margin: 0 auto;
        padding: 2rem 0.5rem 3rem;
    }

    .how-it-works__container>h3 {
        margin: 2.4rem 0 0 0;

    }

    .pick-and-feed__container>h4 {
        margin: 1.1rem 2.7rem;
    }

    .pick-and-feed__container>p {
        margin: 0.2rem 5rem 0.3rem 2.6rem;
    }

    .how-it-works__container {
        width: 82%;
    }

    .how-it-works__steps {
        margin: 5% auto 8%;
    }
}

@media (max-width:700px) {
    .pick-and-feed__container {
        width: 100%;
    }
}

@media (max-width: 640px) {

    .pick-and-feed {
        padding: 1.3rem 0 0.3rem;
    }

    .pick-and-feed__container {
        width: 100%;
        margin: 0 auto 1.2rem;
        padding: 0 0 4rem 0;
    }

    .pick-and-feed__container>h2 {
        font-size: 42px;
        line-height: 150%;
        margin: 0;
    }

    .pick-and-feed__container>h4 {
        margin: 0.9rem 0 1.4rem 1.1rem;
    }

    .pick-and-feed__container>p {
        margin: 0.2rem 1rem 0.3rem 1.4rem;
    }

    .how-it-works__container {
        width: 94%;
    }

    .how-it-works__container>h3 {
        margin: 1.5rem 0 0 0;
    }

    .how-it-works__steps {
        margin: 3% auto 5%;

    }

    .how-it-works__arrow {
        width: 37px;
        align-items: flex-start;
        margin: -16px 0;
        z-index: 1;
    }

    .how-it-works__arrow>.big_arrow {
        display: none;
    }

    .how-it-works__arrow>.small_arrow {
        display: block;
    }
}

@media (max-width: 500px) {
    .pick-and-feed {
        padding: 1rem 0 0.3rem;
    }

    .pick-and-feed__container {
        width: 94%;
        margin: 0 auto 1.2rem;
        padding: 0 0 2.7rem 0;
    }

    .pick-and-feed__container>h2 {
        font-size: 24px;
        line-height: 120%;
        margin: 20px 0 0;
    }

    .pick-and-feed__container>h4 {
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        text-align: center;
        color: #333B41;
        margin: 0.7rem 0 0.4rem 0;
    }

    .pick-and-feed__container>p {
        display: none;
    }

    .how-it-works__container {
        width: 94%;
    }

    .how-it-works__container>h3 {
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        margin: 1rem 0 0 0;
    }

    .how-it-works__steps {
        margin: 6% auto 5%;
        flex-direction: column;
        align-items: center;
    }

    .how-it-works__arrow {
        width: 42px;
        transform: rotate(90deg);
        align-items: flex-end;
        margin: 0;
        z-index: 1;
        position: relative;
        bottom: 24px;
        left: 100px;
    }

    .how-it-works__step>p {
        margin-top: 0.7rem;
        align-self: flex-start;
    }

}

/* TESTIMONIALS BLOCK */

.testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 7rem 0 11.2rem;
    position: relative;

}

.testimonials__content {
    display: flex;
    flex-direction: column;
    width: 74%;
    margin: 0 auto;
    align-items: center;
    position: relative;

}

.testimonials__section-header {
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
    color: #333B41;
    margin: 1.7rem 0 1.6rem;

}

.testimonials__cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.testimonials__card__container {
    min-width: 22.5%;
    content: '';
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    border-radius: 20px;
    margin: 1.2rem 1rem;
    position: relative;

}

.testimonials__card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F1F3F2;
    border-radius: 20px;
    border: 2px solid transparent;
    padding: 10px;

}

.testimonials__card-header {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.testimonials__card-header__text {
    margin: 0 10px;
}

.card-header__name {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */
    color: #000000;
    margin: 0;
}

.card-header__location {
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    /* identical to box height, or 18px */
    /* Gray 4 */
    color: #BDBDBD;
    margin: 0;
    display: inline;
}

.card-header__date {
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    /* identical to box height, or 18px */
    /* Gray 4 */
    color: #BDBDBD;
    margin: 0;
    display: inline;
}

.testimonials__card-text {
    margin: 10px 0;
}

.testimonials__card-text>p {
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    /* or 18px */
    /* gray */
    color: #767474;
    margin: 0;
}

.testimonials__line__scroll__container {
    content: "";
    position: relative;
    width: 53%;
    height: 12px;
    display: flex;
    align-items: center;
    padding: 1px;
    border-radius: 5px;
    background-image: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

/* .testimonials__line__scroll {
    content: "";
    width: 100%;
    height: 100%;
    display: flex;
    background: #F5F7F6;
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 1px;
} */

/* .testimonials__line__scroll__pointer {
    width: 20%;
    background: #FE9013;
    border-radius: 5px;
} */

input[type='range'] {
    -webkit-appearance: none;
    width: 100%;
    height: 100%;
    background-color: #F5F7F6;
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 1px;
    cursor: pointer;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 100%;
    max-width: 115.19px;
    height: 6px;
    background: #FE9013;
    border-radius: 5px;
}


.testimonials__button {
    align-self: flex-start;
    margin: 1.8rem 0 0 0.8rem;
}

.testimonials__section-picture {
    position: absolute;
    bottom: -100px;
    right: 0;
}

@media (max-width: 1399px) {
    .testimonials__content {
        width: 85%;
    }
}


@media (max-width: 1299px) {
    .testimonials__content {
        width: 90%;
    }
}

@media (max-width: 1000px) {
    #person-mila {
        display: none;
    }

    #person-mila-cont {
        display: none;
    }

    .testimonials {
        width: 100%;
        padding: 4.7rem 0 5.4rem;
    }

    .testimonials__content {
        width: 97%;
    }

    .testimonials__section-header {
        margin: 1.7rem 0 0.5rem;
    }

    .testimonials__card__container {
        margin: 1.4rem 1.1rem 1rem;
    }

    .testimonials__card {
        padding: 0.7rem 0.7rem 1.6rem;
    }

    .testimonials__line__scroll__container {
        width: 42%;
    }

    .testimonials__button {
        margin: 3.3rem 1rem;
    }

    .testimonials__section-picture {
        height: 21.5rem;
    }
}

@media (max-width: 800px) {
    .testimonials__card__container {
        margin: 0.5rem;
    }
}

@media(max-width:640px) {
    .testimonials {
        padding: 2.7rem 0 3rem;
    }

    .testimonials__card__container {
        margin: 0.5rem;
        height: 113px;
        overflow: hidden;
    }

    .testimonials__section-header {
        margin: 0.7rem 0 0.5rem;
    }

    .testimonials__card {
        padding: 0.4rem;
    }

    .testimonials__card-text {
        margin: 5px 0;
    }

    .testimonials__cards {
        flex-direction: column;
    }

    .testimonials__line__scroll__container {
        display: none;
    }

    .testimonials__button {
        margin: 2rem 1rem;
        align-self: center;
        width: 80%;
    }

    .testimonials__section-picture {
        height: 12.5rem;
        width: 20%;
        bottom: -60px;
    }
}

@media (max-width: 320px) {

    .testimonials {
        padding: 0.7rem 0 2.6rem;
    }

    .testimonials__section-header {
        margin: 1rem 0 0.5rem;
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        text-align: center;
        color: #333B41;
    }

    .testimonials__card__container {
        margin: 0.4rem;
        height: 113px;
        overflow: hidden;
    }

    .testimonials__button {
        margin: 1.2rem 1rem;
        align-self: center;
        max-width: 77%;
    }

    .testimonials__section-picture {
        height: 95px;
        width: 63px;
        bottom: -26px;
    }
}