/* FOOTER */

footer {
    background: #111115;
    padding: 80px 0;
}

.footer__container {
    width: 1160px;
    margin: 0 auto;
}

.footer__logo-and-subscribtion {
    display: flex;
    justify-content: space-between;
}

.footer__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.subsribe-section>h3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    /* identical to box height, or 29px */
    color: #FFFFFF;
    margin: 0 0 20px 0;
}

.subsribe-section>input {
    border-radius: 2px;
    border: 0.7px solid #F9804B;
    width: 228px;
    height: 42px;
    background-color: #111115;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    /* Gray 4 */
    color: #BDBDBD;
}

.subsribe-section>input:focus {
    background: none;
    border: 1px solid #4B9200;
    outline: none;
}

.send_btn {
    width: 129px;
    height: 42px;
    background: #F1F3F2;
    /* black_blue */
    border: 1px solid #333B41;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    color: #000000;
    /* or 22px */
}

.send_btn:active {
    border-color: #4B9200;
    color: #4B9200;
}


.footer__links {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 60px;
}

.social-links {
    display: flex;
    flex-direction: column;

}

.social-link {
    display: flex;
    margin: 10px 0;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
}

/* .social-link__img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
} */

.social-link__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    background: rgba(196, 196, 196, 0.5);
    border-radius: 50%;
}


.social-link>p {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    color: #FFFFFF;
    margin: 3px;
    padding: 0 15px;
}



.social-links a:hover .social-link__circle {
    background: #4B9200;
    /* color: #4B9200; */
}

.social-links a>p:hover {
    color: #4B9200;
}




.copyright>p {
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
    /* identical to box height, or 21px */
    color: rgba(255, 255, 255, 1);
}