/* HEADER */

.header {
    background-color: #000;
    height: 80px;
    z-index: 1;
    display: flex;
    width: 100%;
    justify-content: center;

}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;

}

.header__logo>h1 {
    display: none;
}

.header__logo a img {
    margin: 9px 0 6px 8px;
}

.desined-by-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;

}

.nav {
    display: flex;
    width: 60%;
}

.list {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 30px;
    margin: 0;
}

.list li {

    display: flex;
    justify-content: center;
    padding: 0px 30px;

}

.list__item a {
    text-decoration: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */


    color: #FFFFFF;
}

.list__item a:hover {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.active {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

@media (max-width: 1600px) {}

@media (max-width: 1000px) {
    .header {
        padding: 16px 30px;
    }

    .header__logo {
        width: auto;
    }

    .list {
        padding: 0px 37px;
    }

    .list li {
        padding: 0px 24px;
    }

    .header__logo a img {
        margin: 0;
    }

    .nav {
        display: flex;
        width: 80%;
    }

    .desined-by-link {
        padding: 0;
    }
}