/* HEADER */

.header {
    background-color: #000;
    height: 80px;
    z-index: 1;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    z-index: 3;

}

.header__logo {
    display: flex;
    width: 19%;
    justify-content: flex-end;
    align-items: center;

}

.header__logo>h1 {
    display: none;
}

.header__logo__img {
    display: block;
    margin: 9px 0 6px 8px;
}

.header__logo__img_640 {
    display: none;
}

.desined-by-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;

}

.nav {
    display: flex;
    width: 60%;
}

.burger-menu {
    display: none;
}

.list {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding: 0 2rem;
    margin: 0;
}

.list li {

    display: flex;
    justify-content: center;
    padding: 0px 30px;

}

.list__item a {
    text-decoration: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */


    color: #FFFFFF;
}

.list__item a:hover {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.active {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

@media (max-width: 1000px) {
    .header {
        padding: 1rem 2rem;
        justify-content: space-between;
    }

    .header__logo {
        width: auto;
    }

    .list {
        padding: 0 1rem;
    }


    .list li {
        padding: 0px 1.5rem;
    }

    .header__logo a img {
        margin: 0;
    }

    .nav {
        width: 76%;
    }

    .desined-by-link {
        padding: 0;
    }
}

@media (max-width: 640px) {
    .header {
        height: 34px;
        padding: 0 1rem;
        position: fixed;
    }

    .header__logo {
        width: auto;
        margin-top: 0.4rem
    }

    .header__logo__img {
        display: none;
    }

    .header__logo__img_640 {
        display: block;
    }

    .nav {
        width: auto;
    }

    .list {
        display: none;
    }

    .burger-menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .desined-by-link {
        display: none;
    }

}