.panda-img {
    height: 390px;
    background-image: url("../../assets/images/panda_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.donate {
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.donate__content {
    display: flex;
    flex-direction: column;
    width: 1160px;
    padding: 40px 0 177px;
    margin: 0 auto;
}

.donate__header {
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    /* identical to box height, or 47px */
    color: #FFFFFF;
    margin: 0;
}

.donate__header__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    color: #FFFFFF;
    margin-top: 7px
}

.donate__subheader {
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    /* identical to box height, or 47px */
    /* or3 */
    color: #FE9013;
    margin: 30px 0 60px 0;
}

.donate-pick-and-feed {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-top: 60px;
    padding: 40px 92px;
    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(2px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 20px;
    margin: 0;
}

.donate-pick-and-feed>h2 {
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    /* identical to box height, or 58px */
    text-align: center;
    /* or3 */
    color: #FE9013;
    margin: 0 0 0 -13px;
}

.donate-pick-and-feed>p {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    /* identical to box height, or 29px */
    color: #333B41;
    margin: 20px 0;
}

.panda__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 27px 0;
}

.panda-diet-count {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 46px 0px 0 0px;

}

.panda-diet-count__num {
    font-weight: 500;
    font-size: 72px;
    line-height: 80%;
    /* identical to box height, or 58px */
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
    padding: 0px 14px 0 0;
}

.panda-diet-count__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    text-align: center;
    color: #333B41;
    margin: 0;
    padding-top: 11px;
}

.panda-x {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 22px 73px 0px 0px;
}

.amount-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.amount-form-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    color: #000000;
    align-self: flex-start;
}

.radios {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 27px;
    background: #404950;
    border-radius: 2px;
    padding: 0;
    margin-bottom: 100px;
}

.radios-line {
    height: 2px;
    background: #72828E;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.radio-input-container {
    width: 12.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 30px;
}

.radio-input-container>label {
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    /* or 36px */
    text-transform: uppercase;
    color: #333B41;
    margin-top: 25px;
}

.radiob,
.donation-sum {
    cursor: pointer;
}

.radiob {
    margin: 0;
    padding: 0;
    width: 10px;
    height: 10px;
    border: solid 1px rgb(255, 238, 46);
    border-radius: 50%;
    background-color: #ffee2e;
    position: relative;
    appearance: none;
    /* transform: translateY(-0.075em); */
}

.radiob::before {
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    position: absolute;
    top: -16px;
    left: -16px;
}

.radiob::after {
    content: '';
    width: 22.95px;
    height: 22.95px;
    border-radius: 50%;
    border: none;
    position: absolute;
    top: -8px;
    left: -7px;

}

/* .radiob:checked {
    outline: 10px double #FE9013;
    outline-offset: 0;
} */


.radiob:checked::before {
    border: 2px solid #FE9013;
}

.radiob:checked::after {
    border: 2px solid #FE9013;
}



.donation-sum::before {
    content: url(../../assets/icons/dollar.png);
}

.radiob:checked+.donation-sum {
    color: rgb(254, 144, 19);
    transform: scale(1.2);
}

.radiob:checked+.donation-sum::before {
    content: url(../../assets/icons/dollar-orange.png);
}

.amount-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #929699;
    border-radius: 2px;
    width: 268px;
    height: 54px;
    padding: 15px 10px 16px 5px
}

.amount-input>input {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    color: #929699;
    background-color: transparent;
    border: none;
}

.period-container {
    display: flex;
    justify-content: space-between;
    margin: 27px;
    width: 218px;
}

.period {
    display: flex;
    justify-content: flex-start;
}

.period-value {
    margin: 0;
    padding: 0;
    all: unset;
    width: 16px;
    height: 16px;
    border: 1px solid rgb(254, 144, 19);
    border-radius: 50%;
    cursor: pointer;
}

.period-value:checked {
    border-color: rgb(75, 146, 0);
    background-color: rgb(75, 146, 0);
}

.period label {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
    margin: 0 15px;
}

.share-text {
    padding: 14px 0;
}